<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.InStockMapper"> 

<select id="selectById" parameterType="int" resultType="model.InStock">

        select * from instock where id=#{id}

</select>
<select id="selectAll" resultType="po.InStockVo">
   select  instockdetail.id id,product.name productName, supplier.name supplierName,user.name approverName, instockdetail.amount ,completeTime  
  from  instock ,instockdetail ,product, supplier,user
   where instockdetail.inStockid=instock.id 
   </select>
<select id="selectAllInStock" resultType="po.InStockVo">
   select  product.name productName, supplier.name ,approver supplierName , instockdetail.amount ,completeTime  
  from  instock ,instockdetail ,product, supplier
   where instockdetail.id=instock.id 
      and instockdetail.productid=product.id
      and instock.approver=supplier.id
      and user.id = approver;
 
</select>
<update id="updateInStock" parameterType="model.InStock">
     update instock set supplierId=#{supplierId},completeTime=#{completeTime},approver=#{approver}
     where id=#{id}


</update>
 <insert id="insertInStock" useGeneratedKeys="true" keyProperty="id">
      insert into  instock (supplierId,completeTime,approver)
      values (#{supplierId},#{completeTime},#{approver})

 </insert>
<delete id="deleteById" parameterType="int">
    delete from instock where id=#{id}
</delete>
</mapper>