<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.InStockMapper">
 <select id="selectById" parameterType="model.InStock">
     select * from instock where id=#{id}
  </select>
  <select id="selectAll" resultType="model.InStock">
      select * from instock 
  </select>
  <update id="upateInStock" parameterType="model.InStock">
      update instock set supplierld=@{supplierld} createtime=#{createtime},completetime=#{completetime},
      approver=#{approver} where id = #{id}
  </update>
  <insert id="insertInStock" useGeneratedKeys="true" keyProperty="id">
      insert into instock(supplierld,createtime,completetime,approver)
      values(#{supplierld},#{createtime},#{completetime},#{approver})
  </insert>
  <delete id="deleteById" parameterType="id">
      delete form instock where id=#{id}
  </delete>
</mapper>
