<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.InStockDetailMapper"> 

<select id="selectById" parameterType="int" resultType="model.InStockDetail">

        select * from instockdetail where id=#{id}

</select>
<select id="selectAll" resultType="model.InStockDetail">
   select * from instockdetail
 
</select>
<update id="updateInStockDetail" parameterType="model.InStockDetail">
     update instock set inStockId=#{inStockId},productId=#{productId},amount=#{amount}
     where id=#{id}


</update>
 <insert id="insertInStockDetail" useGeneratedKeys="true" keyProperty="id">
      insert into  instockdetail (inStockId,productId,amount)
      values (#{inStockId},#{productId},#{amount})
 </insert>
<delete id="deleteById" parameterType="int">
    delete from instockdetail where id=#{id}
</delete>
</mapper>