<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OutStockMapper">
  <select id="selectById" parameterType="model.OutStock">
     select * from outstock where id=#{id}
  </select>
  <select id="selectAll" resultType="model.OutStock">
      select * from outstock 
  </select>
  <update id="upateOutStock" parameterType="model.OutStock">
      update outstock set createtime=#{createtime},completetime=#{completetime},approver=#{approver}
		where id = #{id}
  </update>
  <insert id="insertOutStock" useGeneratedKeys="true" keyProperty="id">
      insert into outstock(createtime,completetime,approver)
      values(#{createtime},#{completetime},#{approver})
  </insert>
  <delete id="deleteById" parameterType="id">
      delete form outstock where id=#{id}
  </delete>
</mapper>
