<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProductMapper">

  <select id="selectById" parameterType="model.Product">
     select * from product where id=#{id}

  </select>
  <select id="selectAll" resultType="model.Product">
      select * from product 

  </select>
  <update id="upateStock" parameterType="model.Product">
      update product set name=#{name},price=#{price},barcode=#{barcode}
		where id = #{id}
  </update>
  <insert id="insertStock" useGeneratedKeys="true" keyProperty="id">
      insert into product(name,price,barcode)
      values(#{name},#{price},#{barcode})
  </insert>
  <delete id="deleteById" parameterType="id">
      delete form produce where id=#{id}
  </delete>
</mapper>
