<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.StockMapper">
 <select id="selectById" parameterType="int" resultType="model.Stock">
   select * from stock where id=#{id}
 </select>
 
  <select id="selectOutStockPo" parameterType="int" resultType="po.OutStockPo">
   select  stock.*,product.name productName
  from   stock ,product
   where stock.id=#{id}
      and stock.productid=product.id
 </select>
 
 <select id="selectAll" resultType="po.StockVo">
      select stock.id,amount,areaNumber,shelfNumber,placeNumber,inStocktime,name productName
      from product,stock 
      where stock.productId=product.id
 </select>
 <update id="updateStock" parameterType="model.Stock">
     update stock set productId=#{productId},amount=#{amount},areaNumber=#{areaNumber},shelfNumber=#{shelfNumber},
     placeNumber=#{placeNumber},inStockTime=#{inStockTime}
     where id=#{id}
 </update>
 <insert id="insertStock" useGeneratedKeys="true" keyProperty="id">
      insert into  stock (productId,amount,areaNumber,shelfNumber,placeNumber,inStockTime)
      values (#{productId},#{amount},#{areaNumber},#{shelfNumber},#{placeNumber},#{inStockTime})
 </insert>
 <delete id="deleteById" parameterType="int">
      delete from stock where id=#{id}
 </delete>
</mapper>