<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.SupplierMapper">

<select id="selectById" parameterType="int" resultType="model.Supplier">

select * from supplier where id=#{id}

</select>
<select id="selectAll" resultType="model.Supplier">
     select * from supplier 

</select>
<update id="updateSupplier" parameterType="model.Supplier">
     update supplier set name=#{name},phone=#{phone},address=#{address}
     where id=#{id}


</update>
 <insert id="insertSupplier" useGeneratedKeys="true" keyProperty="id">
      insert into  supplier (name,phone,address)
      values (#{name},#{phone},#{address})
 </insert>
<delete id="deleteById" parameterType="int">
    delete from supplier where id=#{id}
</delete>
</mapper>